<!DOCTYPE html>
<html ng-app="myModule">

<head>
    <meta charset="utf-8" />
    <title>Angular Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="myController">
    <h4>Binding:</h4>

    <div>
        <div>First Name: <input type="text" maxlength="7" style="text-align: center" ng-model="employee.FirstName" /></div>
        <div>Last Name: <input type="text" maxlength="7" style="text-align: center" ng-model="employee.LastName" /></div>
        <div>Gender: <input type="text" maxlength="7" style="text-align: center" ng-model="employee.Gender" /></div>
    </div>

    <div style="padding-top: 20px">
        <div>First Name: {{employee.FirstName}}</div>
        <div>Last Name: {{employee.LastName}}</div>
        <div>Gender: {{employee.Gender}}</div>
    </div>
</body>
</html>